# Risk Assessment and Data-Driven Recommendations for Aircraft Acquisition
## Business Problem

My company wants to diversify its portfolio by expanding into new industries, specifically aviation. They are considering purchasing and operating airplanes for commercial and private enterprises but lack knowledge about the risks. My task is to analyze aviation accident data and determine which aircraft present the lowest risk. These findings will help the head of the new aviation division make informed decisions on which aircraft to purchase.

## The Data

The dataset, provided by the National Transportation Safety Board, contains aviation accident data from 1962 to 2023. It includes records on civil aviation accidents and selected incidents in the United States and international waters.

In [12]:
# Import the pandas library for data manipulation
import pandas as pd

In [13]:
# Loading the CSV file into a DataFrame named df
df = pd.read_csv("AviationData.csv", index_col=0,low_memory=False, encoding='latin1')
#Printing the first five entries
df.head()

,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,Injury.Severity,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
Event.Id,,,,,,,,,,,,,,,,,,,,,
20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,Fatal(2),...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,Fatal(4),...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,Fatal(3),...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,Fatal(2),...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,Fatal(1),...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

In [14]:
#printing the dataset's shape
df.shape

(88889, 30)

In [15]:
# Display the DataFrame's information to check data types and non-null counts
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 88889 entries, 20001218X45444 to 20221230106513
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Investigation.Type      88889 non-null  object
 1   Accident.Number         88889 non-null  object
 2   Event.Date              88889 non-null  object
 3   Location                88837 non-null  object
 4   Country                 88663 non-null  object
 5   Latitude                34382 non-null  object
 6   Longitude               34373 non-null  object
 7   Airport.Code            50132 non-null  object
 8   Airport.Name            52704 non-null  object
 9   Injury.Severity         87889 non-null  object
 10  Aircraft.damage         85695 non-null  object
 11  Aircraft.Category       32287 non-null  object
 12  Registration.Number     87507 non-null  object
 13  Make                    88826 non-null  object
 14  Model                   88797 non-null  object
 15  Amateur.Built           88787 non-null  object
 16  Number.of.Engines       82805 non-null  float64
 17  Engine.Type             81793 non-null  object
 18  FAR.Description         32023 non-null  object
 19  Schedule                12582 non-null  object
 20  Purpose.of.flight       82697 non-null  object
 21  Air.carrier             16648 non-null  object
 22  Total.Fatal.Injuries    77488 non-null  float64
 23  Total.Serious.Injuries  76379 non-null  float64
 24  Total.Minor.Injuries    76956 non-null  float64
 25  Total.Uninjured         82977 non-null  float64
 26  Weather.Condition       84397 non-null  object
 27  Broad.phase.of.flight   61724 non-null  object
 28  Report.Status           82505 non-null  object
 29  Publication.Date        75118 non-null  object
dtypes: float64(5), object(25)
memory usage: 21.0+ MB

From the information above several columns have missing values. For example:
  - `Location` has **52 missing entries**.
  - `Country` has **226 missing entries**.
  - `Latitude` and `Longitude` have many missing values (approximately 54,507 entries).
  - `Airport.Code` and `Airport.Name` additionally showcase a relevant amount of missing values which are 37,757 and 36,185 respectively.

In [16]:
 # Count the total number of rows in the pandas DataFrame df
total_entries = len(df)

# Calculate the percentage of missing values for each column
missing_percentage = (total_entries - df.count()) / total_entries * 100

# Create a DataFrame to display the results
missing_values_df = pd.DataFrame({
    'Column': df.columns,
    'Missing Percentage': missing_percentage
})

print(missing_values_df)

                                        Column  Missing Percentage
Investigation.Type          Investigation.Type            0.000000
Accident.Number                Accident.Number            0.000000
Event.Date                          Event.Date            0.000000
Location                              Location            0.058500
Country                                Country            0.254250
Latitude                              Latitude           61.320298
Longitude                            Longitude           61.330423
Airport.Code                      Airport.Code           43.601570
Airport.Name                      Airport.Name           40.708074
Injury.Severity                Injury.Severity            1.124999
Aircraft.damage                Aircraft.damage            3.593246
Aircraft.Category            Aircraft.Category           63.677170
Registration.Number        Registration.Number            1.554748
Make                                      Make            0.070875
Model                                    Model            0.103500
Amateur.Built                    Amateur.Built            0.114750
Number.of.Engines            Number.of.Engines            6.844491
Engine.Type                        Engine.Type            7.982990
FAR.Description                FAR.Description           63.974170
Schedule                              Schedule           85.845268
Purpose.of.flight            Purpose.of.flight            6.965991
Air.carrier                        Air.carrier           81.271023
Total.Fatal.Injuries      Total.Fatal.Injuries           12.826109
Total.Serious.Injuries  Total.Serious.Injuries           14.073732
Total.Minor.Injuries      Total.Minor.Injuries           13.424608
Total.Uninjured                Total.Uninjured            6.650992
Weather.Condition            Weather.Condition            5.053494
Broad.phase.of.flight    Broad.phase.of.flight           30.560587
Report.Status                    Report.Status            7.181991
Publication.Date              Publication.Date           15.492356

## Handling Missing Values

In my dataset, I've calculated the percentage of missing values for each column. The following columns exhibit significant missing data:

- **Latitude**: 61.32%
- **Longitude**: 61.33%
- **Aircraft.Category**: 63.68%
- **FAR.Description**: 63.97%
- **Schedule**: 85.85%
- **Air.carrier**: 81.27%

### Reason for Row Dropping

I aim to maintain data integrity and ensure the quality of my analysis. Columns with over 60% missing values present a challenge because:

1. **Insufficient Data**: High percentages of missing data can lead to unreliable conclusions, as the remaining data may not be representative of the whole dataset.

2. **Data Quality**: Keeping rows with excessive missing data can compromise the overall quality of my dataset. Removing these rows helps maintain a cleaner and more reliable dataset for further analysis.

Therefore, I will drop rows where any column has missing values exceeding 60% to enhance the quality of my dataset and the accuracy of my analysis.

In [17]:
# Remove columns that have over 60% missing values
threshold = 60
columns_to_remove = missing_values_df[missing_values_df['Missing Percentage'] > threshold]['Column']
df = df.drop(columns=columns_to_remove.tolist())

#print the first five entries to confirm
df.head()

,Investigation.Type,Accident.Number,Event.Date,Location,Country,Airport.Code,Airport.Name,Injury.Severity,Aircraft.damage,Registration.Number,...,Engine.Type,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
Event.Id,,,,,,,,,,,,,,,,,,,,,
20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,Fatal(2),Destroyed,NC6404,...,Reciprocating,Personal,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,Fatal(4),Destroyed,N5069P,...,Reciprocating,Personal,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,NaN,NaN,Fatal(3),Destroyed,N5142R,...,Reciprocating,Personal,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,Fatal(2),Destroyed,N1168J,...,Reciprocating,Personal,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,Fatal(1),Destroyed,N15NY,...,NaN,Personal,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

From the above, the number of columns left are 24 from the privious ones which were 30 columns

# Further cleaning

I have decided to drop the following columns due to their significant percentages of missing data:

- **Airport.Code**: 43.60% missing values
- **Airport.Name**: 40.71% missing values

### Reasons for Dropping These Columns

1. **Central Tendencies**: Measures of central tendency cannot appropriately replace the missing values in these columns. Airport codes and AirportÂ names are categorical variables, and using central tendencies would not provide meaningful replacements. Therefore, adding these columns to the dataset would not be helpful.

2. **Data Quality**:Maintaining columns with a significant number of missing values may have a negative impact on my dataset's overall quality. To ensure proper analysis, it is necessary to work with data that is complete

In [18]:
# Dropping the Airport code column and the Airport Name.
df = df.drop(columns=['Airport.Code', 'Airport.Name'])

#printing the first five entries to confirm
df.head(10)

,Investigation.Type,Accident.Number,Event.Date,Location,Country,Injury.Severity,Aircraft.damage,Registration.Number,Make,Model,...,Engine.Type,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
Event.Id,,,,,,,,,,,,,,,,,,,,,
20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,Fatal(2),Destroyed,NC6404,Stinson,108-3,...,Reciprocating,Personal,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,Fatal(4),Destroyed,N5069P,Piper,PA24-180,...,Reciprocating,Personal,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,Fatal(3),Destroyed,N5142R,Cessna,172M,...,Reciprocating,Personal,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,Fatal(2),Destroyed,N1168J,Rockwell,112,...,Reciprocating,Personal,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,Fatal(1),Destroyed,N15NY,Cessna,501,...,NaN,Personal,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980
20170710X52551,Accident,NYC79AA106,1979-09-17,"BOSTON, MA",United States,Non-Fatal,Substantial,CF-TLU,Mcdonnell Douglas,DC9,...,Turbo Fan,NaN,NaN,NaN,1.0,44.0,VMC,Climb,Probable Cause,19-09-2017
20001218X45446,Accident,CHI81LA106,1981-08-01,"COTTON, MN",United States,Fatal(4),Destroyed,N4988E,Cessna,180,...,Reciprocating,Personal,4.0,0.0,0.0,0.0,IMC,Unknown,Probable Cause,06-11-2001
20020909X01562,Accident,SEA82DA022,1982-01-01,"PULLMAN, WA",United States,Non-Fatal,Substantial,N2482N,Cessna,140,...,Reciprocating,Personal,0.0,0.0,0.0,2.0,VMC,Takeoff,Probable Cause,01-01-1982
20020909X01561,Accident,NYC82DA015,1982-01-01,"EAST HANOVER, NJ",United States,Non-Fatal,Substantial,N7967Q,Cessna,401B,...,Reciprocating,Business,0.0,0.0,0.0,2.0,IMC,Landing,Probable Cause,01-01-1982
20020909X01560,Accident,MIA82DA029,1982-01-01,"JACKSONVILLE, FL",United States,Non-Fatal,Substantial,N3906K,North American,NAVION L-17B,...,Reciprocating,Personal,0.0,0.0,3.0,0.0,IMC,Cruise,Probable Cause,01-01-1982

In [19]:
#Print the shape of our current dataframe
df.shape

(88889, 22)

In [20]:
# Display my current DataFrame's information
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 88889 entries, 20001218X45444 to 20221230106513
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Investigation.Type      88889 non-null  object
 1   Accident.Number         88889 non-null  object
 2   Event.Date              88889 non-null  object
 3   Location                88837 non-null  object
 4   Country                 88663 non-null  object
 5   Injury.Severity         87889 non-null  object
 6   Aircraft.damage         85695 non-null  object
 7   Registration.Number     87507 non-null  object
 8   Make                    88826 non-null  object
 9   Model                   88797 non-null  object
 10  Amateur.Built           88787 non-null  object
 11  Number.of.Engines       82805 non-null  float64
 12  Engine.Type             81793 non-null  object
 13  Purpose.of.flight       82697 non-null  object
 14  Total.Fatal.Injuries    77488 non-null  float64
 15  Total.Serious.Injuries  76379 non-null  float64
 16  Total.Minor.Injuries    76956 non-null  float64
 17  Total.Uninjured         82977 non-null  float64
 18  Weather.Condition       84397 non-null  object
 19  Broad.phase.of.flight   61724 non-null  object
 20  Report.Status           82505 non-null  object
 21  Publication.Date        75118 non-null  object
dtypes: float64(5), object(17)
memory usage: 15.6+ MB

## Handling missing values for the Categorical Data

In this analysis, I've opted to replace missing values in categorical data with the mode. This is because:

1. **Efficiency**: Mode imputation is a simple and effective computing technique, particularly when dealing with large datasets.

2. **Preserving Data Distribution**: Using the mode, the original distribution of the categorical variable is preserved, ensuring the accuracy of the data.

3. **Minimal Data Loss**: By filling in missing values with the most common category, we minimize the loss of information.

4. **Common Practice**: This method is a widely accepted and effective approach in data analysis and machine learning.

In [21]:
# Identify categorical columns
categorical_cols = df.select_dtypes(include=['object']).columns

# Replace missing values in categorical columns with their mode
for col in categorical_cols:
    df[col].fillna(df[col].mode()[0], inplace=True)

#Display my current DataFrame's information
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 88889 entries, 20001218X45444 to 20221230106513
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Investigation.Type      88889 non-null  object
 1   Accident.Number         88889 non-null  object
 2   Event.Date              88889 non-null  object
 3   Location                88889 non-null  object
 4   Country                 88889 non-null  object
 5   Injury.Severity         88889 non-null  object
 6   Aircraft.damage         88889 non-null  object
 7   Registration.Number     88889 non-null  object
 8   Make                    88889 non-null  object
 9   Model                   88889 non-null  object
 10  Amateur.Built           88889 non-null  object
 11  Number.of.Engines       82805 non-null  float64
 12  Engine.Type             88889 non-null  object
 13  Purpose.of.flight       88889 non-null  object
 14  Total.Fatal.Injuries    77488 non-null  float64
 15  Total.Serious.Injuries  76379 non-null  float64
 16  Total.Minor.Injuries    76956 non-null  float64
 17  Total.Uninjured         82977 non-null  float64
 18  Weather.Condition       88889 non-null  object
 19  Broad.phase.of.flight   88889 non-null  object
 20  Report.Status           88889 non-null  object
 21  Publication.Date        88889 non-null  object
dtypes: float64(5), object(17)
memory usage: 15.6+ MB

## Checking for the percentage of Missing data In my current DataFrame

In [22]:
 # Count the total number of rows in the pandas DataFrame df
total_entries = len(df)

# Calculate the percentage of missing values for each column
missing_percentage = (total_entries - df.count()) / total_entries * 100

# Create a DataFrame to display the results
missing_values_df = pd.DataFrame({
    'Column': df.columns,
    'Missing Percentage': missing_percentage
})

print(missing_values_df)

                                        Column  Missing Percentage
Investigation.Type          Investigation.Type            0.000000
Accident.Number                Accident.Number            0.000000
Event.Date                          Event.Date            0.000000
Location                              Location            0.000000
Country                                Country            0.000000
Injury.Severity                Injury.Severity            0.000000
Aircraft.damage                Aircraft.damage            0.000000
Registration.Number        Registration.Number            0.000000
Make                                      Make            0.000000
Model                                    Model            0.000000
Amateur.Built                    Amateur.Built            0.000000
Number.of.Engines            Number.of.Engines            6.844491
Engine.Type                        Engine.Type            0.000000
Purpose.of.flight            Purpose.of.flight            0.000000
Total.Fatal.Injuries      Total.Fatal.Injuries           12.826109
Total.Serious.Injuries  Total.Serious.Injuries           14.073732
Total.Minor.Injuries      Total.Minor.Injuries           13.424608
Total.Uninjured                Total.Uninjured            6.650992
Weather.Condition            Weather.Condition            0.000000
Broad.phase.of.flight    Broad.phase.of.flight            0.000000
Report.Status                    Report.Status            0.000000
Publication.Date              Publication.Date            0.000000

# Handling Missing Data for the Numerical Data
### 1. **Number.of.Engines**
- **Handling Method**: **Mean Imputation**
  - Given that this is a numerical column, I will use the mean of the current values to fill in the blanks. This method is appropriate because it provides an important principle that accurately summarizes the data without introducing bias.

In [23]:
# Mean imputation for Number.of.Engines
mean_engines = df['Number.of.Engines'].mean()
df['Number.of.Engines'].fillna(mean_engines, inplace=True)

### 2. **Total.Fatal.Injuries**
- **Handling Method**: **Mean Imputation**
  - Similar to the previous column, I will calculate the mean for this numerical data and replace the missing values with the computed mean. This approach is justified given the relatively low percentage of missing data.

In [24]:
# Mean imputation for Total.Fatal.Injuries
mean_fatal_injuries = df['Total.Fatal.Injuries'].mean()
df['Total.Fatal.Injuries'].fillna(mean_fatal_injuries, inplace=True)

### 3. **Total.Serious.Injuries**
- **Handling Method**: **Mean Imputation**
  - I will also use mean imputation for this column. Although the percentage of missing data is slightly higher, mean imputation remains valid as long as the data is approximately normally distributed.

In [25]:
# Mean imputation for Total.Serious.Injuries
mean_serious_injuries = df['Total.Serious.Injuries'].mean()
df['Total.Serious.Injuries'].fillna(mean_serious_injuries, inplace=True)

### 4. **Total.Minor.Injuries**
- **Handling Method**: **Mean Imputation**
  - I will use the available data to compute the mean value for this column and then fill in the blanks. This helps the dataset's consistency without adding to its complexity.

In [26]:
# Mean imputation for Total.Minor.Injuries
mean_minor_injuries = df['Total.Minor.Injuries'].mean()
df['Total.Minor.Injuries'].fillna(mean_minor_injuries, inplace=True)

### 5. **Total.Uninjured**
- **Handling Method**: **Mean Imputation**
  - I will apply mean imputation to replace the missing values in this column as well. Given that it has the lowest percentage of missing values, this approach is consistent with the handling of other injury-related columns.

In [27]:
# Mean imputation for Total.Uninjured
mean_uninjured = df['Total.Uninjured'].mean()
df['Total.Uninjured'].fillna(mean_uninjured, inplace=True)

In [28]:
#Display my current DataFrame's information
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 88889 entries, 20001218X45444 to 20221230106513
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Investigation.Type      88889 non-null  object
 1   Accident.Number         88889 non-null  object
 2   Event.Date              88889 non-null  object
 3   Location                88889 non-null  object
 4   Country                 88889 non-null  object
 5   Injury.Severity         88889 non-null  object
 6   Aircraft.damage         88889 non-null  object
 7   Registration.Number     88889 non-null  object
 8   Make                    88889 non-null  object
 9   Model                   88889 non-null  object
 10  Amateur.Built           88889 non-null  object
 11  Number.of.Engines       88889 non-null  float64
 12  Engine.Type             88889 non-null  object
 13  Purpose.of.flight       88889 non-null  object
 14  Total.Fatal.Injuries    88889 non-null  float64
 15  Total.Serious.Injuries  88889 non-null  float64
 16  Total.Minor.Injuries    88889 non-null  float64
 17  Total.Uninjured         88889 non-null  float64
 18  Weather.Condition       88889 non-null  object
 19  Broad.phase.of.flight   88889 non-null  object
 20  Report.Status           88889 non-null  object
 21  Publication.Date        88889 non-null  object
dtypes: float64(5), object(17)
memory usage: 15.6+ MB